<a href="https://colab.research.google.com/github/Lohith0014/GoogleColab-21CSS101J/blob/main/RA2211042010036.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=20
b=50
print(a+b)
print("a+b")
print(a-b)
print("a-b")
print(a*b)
print("a*b")
print(a/b)
print("a/b")

70
a+b
-30
a-b
1000
a*b
0.4
a/b

In [2]:
print("RA2211042010036")
print("Hello world")

RA2211042010036
Hello world

In [3]:
print("RA2211042010036")
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))
sum = num1+num2
print("sum is",sum)

RA2211042010036
enter 1st number: 21
enter 2nd number: 50
sum is 71

In [4]:
print("RA2211042010036")
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))
difference = num1-num2
print("difference is",difference)

RA2211042010036
enter 1st number: 20
enter 2nd number: 50
difference is -30

In [5]:
print("RA2211042010036")
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))
product = num1*num2
print("product is",product)

RA2211042010036
enter 1st number: 20
enter 2nd number: 50
product is 1000

In [6]:
print("RA2211042010036")
num1 = int(input("enter 1st number: "))
num2 = int(input("enter 2nd number: "))
percentage = num1/num2
print("pecentage is",percentage)

RA2211042010036
enter 1st number: 20
enter 2nd number: 50
pecentage is 0.4

In [7]:
def add(num1,num2):
  sum=num1+num2
  print(sum)
  return sum

print("RA2211042010036")
num1=int(input("enter 1st number: "))
num2=int(input("enter 2nd number: "))
add(num1,num2)

RA2211042010036
enter 1st number: 10
enter 2nd number: 20
30

30

In [8]:
def sub(num1,num2):
  difference=num1-num2
  print(difference)

print("RA2211042010036")
num1=int(input("enter 1st number: "))
num2=int(input("enter 2nd number: "))
sub(num1,num2)

RA2211042010036
enter 1st number: 20
enter 2nd number: 10
10

In [9]:
def mul(num1,num2):
  product=num1*num2
  print(product)

print("RA2211042010036")
num1=int(input("enter 1st number: "))
num2=int(input("enter 2nd number: "))
mul(num1,num2)

RA2211042010036
enter 1st number: 20
enter 2nd number: 20
400

In [10]:
def div(num1,num2):
  percentage=num1/num2
  print(percentage)

print("RA2211042010036")
num1=int(input("enter 1st number: "))
num2=int(input("enter 2nd number: "))
div(num1,num2)

RA2211042010036
enter 1st number: 20
enter 2nd number: 20
1.0

1.0

->>>SIMPLE INTEREST

In [11]:
print("RA2211042010036")
principal = int(input("enter principal amount: "))
rate = int(input("enter rate of intrest: "))
time = int(input("enter no.of years: "))
simple_interest = (principal*rate*time)/100
amount = principal+simple_interest
print("simple interest is",simple_interest)
print("amount payable",amount)

RA2211042010036
enter principal amount: 10000
enter rate of intrest: 4
enter no.of years: 10
simple interest is 4000.0
amount payable 14000.0

->>>SIMPLE CALCULATOR

In [12]:
print("RA2211042010036")
result=0
  
num1 = float(input("enter 1st number: "))
num2 = float(input("enter 2nd number: "))
operation = input("enter any of the operation(+,-,*,/): ")
if operation == "+":
  result = num1+num2
elif operation == "-":
  result = num1-num2
elif operation == "*":
  result = num1*num2
elif operation == "/":
  result = num1/num2
else:
  print("invalid input")
    
print(result)

RA2211042010036
enter 1st number: 100
enter 2nd number: 200
enter any of the operation(+,-,*,/): /
0.5

->>>AREA OF CIRCLE

In [13]:
print("RA2211042010036")
radius=float(input("enter the radius: "))
area = 3.14*radius*radius
print("the area of the circle is ",area,"units")

RA2211042010036
enter the radius: 6
the area of the circle is  113.03999999999999 units

In [14]:
print("RA2211042010036")
a = 50
b = 100
if a>b:
  print("a is greater than b")
elif b>a:
  print("b is greater than a")
else:
  print("a is equal to b")

RA2211042010036
b is greater than a

In [15]:
print("RA2211042010036")
num1 = float(input("enter 1st number: "))
num2 = float(input("enter 2nd number: "))
if num1>num2:
  print(num1, "is greater than", num2)
elif num2>num1:
  print(num2 ,"is greater than", num1)
else:
  print(num1," is equal to", num2)

RA2211042010036
enter 1st number: 100
enter 2nd number: 100
100.0  is equal to 100.0

In [16]:
print("RA2211042010036")
import random
print(random.randint(0,6))

RA2211042010036
3

In [17]:
print("RA2211042010036")
word = "hello world"
times = 10
for i in range(0,times):
  print(word)

RA2211042010036
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [18]:
print("RA2211042010036")
word = str(input("enter the word: "))
times = int(input("enter no.of times: "))
for i in range(0,times):
  print(word)

RA2211042010036
enter the word: LOHITH
enter no.of times: 5
LOHITH
LOHITH
LOHITH
LOHITH
LOHITH

In [19]:
A= "HELLO"
B= "5"
print(a+b)

150

In [20]:
a="HELLO"
b="5"
print(a+b)

HELLO5

In [22]:
a="HELLO"
b=5
print(a*b)

HELLOHELLOHELLOHELLOHELLO

In [23]:
celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print( celsius, "degree Celsius is equal to", fahrenheit, "degree Fahrenheit" )

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [24]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num,"is Even")
else:
   print(num,"is Odd")

Enter a number: 21
21 is Odd

In [25]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 50
Positive number